[user]
	name = Tarcísio G. Rodrigues
	email = tarcisio.genaro@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[credential]
	helper = cache
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 518
	file-view-vpane-position = 919
	main-window-view = HistoryView
	file-view-hpane-position = 292
[color]
	status = auto
	branch = auto
	diff = auto
	ui = auto
[push]
	default = matching
[branch]
	autosetuprebase = always
[diff]
  tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	st = status -s
	ll = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%+s%Cblue\\ [%cn]" --decorate --numstat --date=short
[color]
	status = auto
	branch = auto
	diff = auto
	ui = auto
[push]
	default = matching
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
